.aboutus-layout {
    display: flex;
    padding: 20px;
}

.aboutus-content {
    flex: 70%;
}
.aboutus-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.aboutus-container h2, .aboutus-container h3 {
    color:#333;
    text-align: center;
    }
    
    .form-group {
    margin-bottom: 20px;
    }
    
    .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    }
    
    .form-group input[type="text"],
    .form-group input[type="tel"],
    .form-group input[type="email"],
    .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    .form-group textarea {
    height: 100px;
    resize: vertical;
    }
    
    button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    }
    
    button[type="submit"]:hover {
    background-color: #45a049;
    }
  