.aboutus-layout {
    display: flex;
    padding: 20px;
  }
  
  .aboutus-content {
    flex: 70%;
  }
  
  .aboutus-container {
    max-width: 600px;
    margin: auto 20px auto auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  .header-style {
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label-style {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-style {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .textarea-style {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
    resize: vertical;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .contact-info {
    flex: 30%;
    padding: 20px;
    text-align: left;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .aboutus-layout {
      flex-direction: column;
    }
  
    .aboutus-content, .contact-info {
      flex: none;
      width: 100%;
      margin: 0;
    }
  }
  